.firstpageWrapper {
	position: absolute;
	width: 1920px;
	height: 800px;
	left: 0px;
	top: 0px;
	background: #F9F6F1;
}

.headerMenu {
	position: absolute;
	width: 918px;
	height: 17px;
	left: 405px;
	top: 61px;
	display: flex;
}

.headerMenuList {
	list-style: none;
	display: flex;
	margin: 0;
}

.headerMenuList__item {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	display: flex;
	margin-right: 45px;
	align-items: center;
	white-space: nowrap;
}

.polygonItem {
	margin-left: 5px;
	width: 5px;
	height: 5px;
}

.headerMainTitle {
	display: flex;
	align-items: center;
}

.frameItem {
	margin-left: 90px;
	width: 40px;
	height: 40px;
}

.headerTitle {
	margin-left: 20px;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0.05em;
	text-align: left;
	white-space: nowrap;
}

.headerPayment {
	display: flex;
	align-items: center;
	margin-left: 90px;
}

.headerPaymentItem {
	margin-right: 35px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

.paymentBox {
	margin-left: 100px;
	display: flex;
	align-items: center;
}

.paymentIcon {
	display: flex;
	align-items: center;
}

.shopBasket {
	margin-right: 15px;
}

.paymentNum {
	position: relative;
	left: 32px;
	top: 1px;
	z-index: 1;
	color: white;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0.03em;
}

.bodyContentWrapper {
	display: flex;
}

.bodyContent {
	position: absolute;
	width: 570px;
	height: 224px;
	left: 405px;
	top: 250px;
}

.firstbodyTitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.02em;
	margin-bottom: 35px;
}
.secondbodyTitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	letter-spacing: 0.04em;
	margin-bottom: 55px;
}
.buttonbodyTitle {
	width: 240px;
	height: 55px;
	background: #D7B399;
	text-align: center;
}

.buttonbodyTitle p {
	padding: 18px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.03em;
	color: white;
}

.shoesContent {
	position: absolute;
	width: 556px;
	height: 377px;
	left: 959px;
	top: 216px;
}

.priceContainer {
	position: relative;
	bottom: 330px;
}

.firstPrice {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: right;
	letter-spacing: 0.05em;
	text-decoration-line: line-through;
	text-transform: uppercase;
}

.secondPrice {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 51px;
	text-align: right;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #D84033;
}

.slideContent {
	display: flex;
	position: absolute;
	width: 205px;
	height: 7px;
	left: 857px;
	top: 723px;
}

.borderItem {
	background-color: #CECECE;
	margin-right: 15px;
	width: 40px;
	height: 7px;
}

.borderItem__active {
	background-color: #D7B399;
	margin-right: 15px;
	width: 40px;
	height: 7px;
}

.secondPageWrapper {
	position: absolute;
	width: 1920px;
	height: 235px;
	left: 0px;
	top: 800px;
	background: #212121;
}

.secondPage {
	margin: 80px auto;
}

.firstTitleSecondPage {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

.secondTitleSecondPage {
	margin-top: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}

.footerWrap {
	position: absolute;
	width: 1920px;
	height: 311px;
	left: 0px;
	top: 1040px;
	background: #212121;
}

.footer {
	display: flex;
}

.footer .headerTitle {
	color: white;
}

.theloopFooterWrapper{
	margin: 75px 400px;
	text-align: center;
}

.theloopFooter {
	width: 200px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.textFooter {
	width: 200px;
	color: white;
	margin: 0 auto;
	text-align: left;
}

.footer .frameItem {
	margin: 0;
}

.footerlinks {
	display: flex;
	margin: auto 0;
}

.footerlinksTitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 12px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.footerlinksItem {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #CBCFD4;
	text-align: left;
}

.footerlinksContainer {
	margin-right: 80px;
}

.footerImg {
	margin-right: 5px;
}
